@import "../../styles/theme.scss";

.button {
  font-family: $buttonFont;
  font-size: $buttonFontSize;
  font-weight: $buttonFontWeight;
  padding: .5rem 1rem;
  margin: .2rem;
  border-radius: .313rem;
  border: .1rem solid $primary;
  color: $white;
  background-color: $primary;
  cursor: pointer;

  &:hover {
    background-color: $darkblue;
  }
}

.fullWidth {
  width: 100%;
}

.invert {
  background-color: $white;
  color: $primary;
  border: .1rem solid $primary;

  &:hover {
    color: $white;
    background-color: $primary;
  }
}

.info {
  background-color: $blue;
  border: 1px solid $blue;

  &:hover {
    background-color: $darkblue;
  }
}

.invertInfo {
  background-color: $white;
  color: $blue;
  border: .1rem solid $blue;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

.danger {
  background-color: $red;
  border: 1px solid $red;

  &:hover {
    background-color: $darkred;
  }
}

.invertDanger {
  background-color: $white;
  color: $red;
  border: .1rem solid $red;

  &:hover {
    color: $white;
    background-color: $red;
  }
}

.warning {
  background-color: $yellow;
  border: 1px solid $yellow;
  color: $black;

  &:hover {
    background-color: $darkyellow;
  }
}

.invertWarning {
  background-color: $white;
  color: $yellow;
  border: .1rem solid $yellow;

  &:hover {
    color: $black;
    background-color: $yellow;
  }
}

.success {
  background-color: $green;
  border: 1px solid $green;

  &:hover {
    background-color: $darkgreen;
  }
}

.invertSuccess {
  background-color: $white;
  color: $green;
  border: .1rem solid $green;

  &:hover {
    color: $white;
    background-color: $green;
  }
}

.small {
  padding: .3rem .5rem;
}

.big {
  padding: .8rem 1.2rem;
}