.janela{
  position: fixed;
}

.top_right{
  top: 20px;
  right: 10px;
}

.top_left{
  top: 20px;
  left: 10px;
}

.bottom_left{
  bottom: 40px;
  left: 10px;
}

.bottom_right{
  bottom: 40px;
  right: 10px;
}
