// Cores padrão do projeto
$primary: #333030;
$primaryDark: #000000;
$primaryLight: #565d61;
$secondary: #E8EAEE;
$secondaryDark: #C2C6D0;
$secondaryLight: #F2F3F5;

// Cores para utilização interna de componentes
$focus:     #74747c;
$dark:      #0D0D0D;
$black:     #0D0D0D;
$white:     #FFFFFF;
$lightGray: #E8EAEE;
$gray:      #D4D4D4;
$darkGray:  #474745;
$blue:      #40474b;
$darkblue:  #636b6e;
$green:     #28A34D;
$darkgreen: #20863F;
$red:       #D43939;
$darkred:   #BA3535;
$yellow:    #F5A623;
$darkyellow:#C58A28;

// Fontes
$h1Font: 'Inter', 'sans-serif';
$h1FontWeight: 600;
$h1FontSize: 1.5rem;
$h1Color: #484946;

$h2Font: 'Inter', 'sans-serif';
$h2FontWeight: 400;
$h2FontSize: 1.2rem;
$h2Color: #484946;

$h3Font: 'Inter', 'sans-serif';
$h3FontWeight: 400;
$h3FontSize: 1rem;
$h3Color: #484946;

$h4Font: 'Inter', 'sans-serif';
$h4FontWeight: 400;
$h4FontSize: .875rem;
$h4Color: #484946;

$h5Font: 'Inter', 'sans-serif';
$h5FontWeight: 400;
$h5FontSize: .875rem;
$h5Color: #484946;

$h6Font: 'Inter', 'sans-serif';
$h6FontWeight: 400;
$h6FontSize: .875rem;
$h6Color: #484946;

$labelFont: 'Inter', 'sans-serif';
$labelFontSize: .875rem;
$labelFontWeight: 600;
$labelColor: #484946;

$inputFont: 'Inter', 'sans-serif';
$inputFontSize: .625rem;
$inputFontWeight: 500;
$inputColor: #484946;
$placeholderFont: 'Inter', 'sans-serif';
$placeholderFontSize: .625rem;
$placeholderFontWeight: 500;
$placeholderColor: #8F8D99;

$buttonFont: 'Inter', 'sans-serif';
$buttonFontSize: .75rem;
$buttonFontWeight: 500;

$textSmallFont: 'Inter', 'sans-serif';
$textSmallFontSize: .8rem;
$textSmallFontWeight: 400;
$textSmallColor: #010101;

$textMediumFont: 'Inter', 'sans-serif';
$textMediumFontSize: .75rem;
$textMediumFontWeight: 500;
$textMediumColor: #010101;

$textBigFont: 'Inter', 'sans-serif';
$textBigFontSize: 1rem;
$textBigFontWeight: 600;
$textBigColor: #010101;

$menuFont: 'Inter', 'sans-serif';
$menuFontSize: .75rem;
$menuFontWeight: 500;
$menuColor: #8F8D99;

