@import "../../../styles/theme.scss";

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.text {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.image {
  border: solid 2px $gray;
  border-radius: 50%;
}